@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.main-libros {
    background-color: #fff;
    margin: 115px auto 0; /* Centrado horizontal y margen superior */
    width: 100%;
    height: 199%; /* Ajusta la altura al contenido */
    max-width: 95%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 0.5px solid #22223B;
    padding: 20px;
    overflow: visible; /* Asegura que el contenido no se oculte */
}
 
.title-libro{
    padding: 30px;
    color: #503B31;
    margin-left: 20px; 
    font-family: 'Poppins', sans-serif;
    font-weight: 450;
    font-size: 45px;  
}

.text-section-libro{
    color: #000000;
    margin-left: 60px;
    font-size: 25px;
    width: 95%;
    margin-top: 0.5%;
    margin-left: 50px;
}

.title-section-libro{
    padding: 30px;
    color: #503B31;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;  
}

/* estilos del link */
.ver-mas{
    position: relative;
    left: 87%;
    top: -7vh;
    font-size: 20px;
    border: 1px solid  #503B31;
    padding: 8px 15px 8px 15px;
    border-radius: 25px;
    text-decoration: none;
    color: #503B31;
}

.ver-mas:hover{
    background-color:  #503b311a;
}



.libro-container {
    display: flex;
    flex-wrap: wrap;
    gap: 45px; /* Espacio de 10px entre los elementos */
    justify-content: center;
    margin: 30px 30px 70px 30px;
}

.libro-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 190px; /* Ancho fijo para todos los contenedores */
    min-height: 350px; /* Altura mínima fija para todos los contenedores */
    margin-top: -30px;
}

/* no poner cuidado a book_comunity */

.libro-comunity-perso{
    width: 150px; /* Ajusta el tamaño según tus necesidades */
    height: 240px;
    border-radius: 20px; /* Ajusta según el estilo deseado */
    border: 1px solid #22223B;
}

.title-libro-section {
    color: black;
    margin-top: 10%; /* Espacio entre la imagen y el título */
    font-size: 20px; /* Ajusta el tamaño del texto según tus necesidades */
    width: 100%; /* Ajusta el ancho para que coincida con el contenedor */
    height: 50px; /* Altura fija para asegurar alineación */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Asegura que el texto esté centrado */
}

.rating-libro {
    color: #22223B;
    font-size: 16px; /* Ajusta el tamaño según tus necesidades */
    margin-top: 10px; /* Espacio entre el título y la calificación */
    display: flex;
    justify-content: center;
}

.rating-libro img {
    width: 25px; /* Ajusta el tamaño de las estrellas según tus necesidades */
    height: auto;
    margin: 0 2px; /* Espacio entre las estrellas */
}