@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.main-ficha-libro {
    background-color: #fff;
    margin: 115px auto 0; /* Centrado horizontal y margen superior */
    width: 100%;
    height: 187%; /* Ajusta la altura al contenido */
    max-width: 95%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 0.5px solid #22223B;
    padding: 20px;
    overflow: visible; /* Asegura que el contenido no se oculte */
}


.libro-container {
    padding: 20px;
    width: 100%; 
    box-sizing: border-box; /
}

.infor-ficha-libro {
    display: flex;
    flex-wrap: wrap; 
    margin-bottom: 20px;
    line-height: 1.8; 
    font-size: 23px;
    margin-left: 0; 
}

.img-ficha-libro {
    width: 100%;
    height: auto;
    max-width: 450px;
    border-radius: 20px;
    border: 0.1px solid #503b31;
    margin-right: 20px;
}

.ficha-libro-details {
    flex: 1; 
    margin-left: 40px;
}

.text-details-ficha-libro {
    margin: 10px 0;
    color: black;
    text-align: justify; 
}

.container-sinopsis-ficha-libro {
    width: 100%; 
    box-sizing: border-box; 
    margin-top: 20px; 
}

.sinopsis-libro-ficha {
    line-height: 1.6; 
    font-size: 22px; 
    color: black; 
}

.parrafo-ficha-libro{
    width: 95%;
}

/* selecto biblioteca */
.ficha-libro-locations {
    margin-bottom: 20px; 
    color: rgb(79, 58, 48); 
}

.text-location-libro {
    font-size: 25px; 
   margin: -160px 30px 30px 30px;
}

.locations-list-ficha-libro {
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
}

.location-item-ficha-libro {
    display: flex; 
    align-items: center; 
}

.store-ficha-libro {
    margin: 0; 
    margin-right: 10px; 
    font-size: 23px; 
    margin-left: 25px;
    
   
}

.img-flecha-libro {
    width: 20px; 
    height: auto; 
}

/* Gustos */
.gustos-container-ficha-libro {
    display: flex;
    gap: 40px; 
    margin: 30px 0 30px 1150px; 
    justify-content: center; 
    

}

/* Estilos para los botones */
 .gustos-boton {
    background: none; 
    border: 2px solid #503b31; 
    border-radius: 30px; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 65px; 
    height: 65px; 
    margin-top: 30px;
}

.gustos-boton:hover{
    background-color: #503b311a;
}

/* Estilos para las imágenes dentro de los botones */
.img-boton-gusto {
    width: 40px; 
    height: 40px; 
    display: block; 
}

.agregar-boton{
    background: none; 
    border: 2px solid #503b31; 
    border-radius: 30px; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 65px; 
    height: 65px; 
    margin-top: 30px;
}

.agregar-boton:hover{
    background-color: #503b311a;
}
.img-boton-agregar {
    width: 40px; 
    height: 40px; 
    display: block; 
}

/* cuadros de escritura */
.book-reviews-ficha-libro {
    display: flex;
    align-items: center; /* Alinea verticalmente el área de texto y el botón */
    justify-content: space-between; /* Alinea el área de texto a la izquierda y el botón a la derecha */
    gap: 10px; /* Espacio entre el área de texto y el botón */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en varias líneas si es necesario */
    margin-bottom: 10px; /* Espacio entre los inputs y las reseñas */
}

.area-text-ficha-libro {
    width: calc(100% - 150px); /* Deja espacio suficiente para el botón */
    height: 60px;
    margin: 50px 0; 
    padding: 12px 0 10px 20px; 
    border-radius: 10px;
    border: 2px solid #503b31; 
    flex-grow: 1;
    font-size: 20px;
}

/* boton de enviar */
.boton-enviar-ficha{
    padding: 12px 20px; /* Añadido padding a la derecha */
    border: 2px solid #503b31; 
    border-radius: 5px; 
    background-color: #ffffff; 
    font-size: 22px;
    color: #503b31; 
    cursor: pointer; 
    margin: 0; /* Elimina el margen que desalineaba el botón */
    flex-shrink: 0;
}

.boton-enviar-ficha:hover {
    background-color: #503b311a;
}

/* estilos del link */
/* Estilo para el botón "Ver más" */
.ver-mas-ficha-libro {
    background-color: #ffffff;
    color: #503b31;
    border: 1px solid #503b31;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: -10px 0 10px 0;
    border-radius: 5px;
}

.ver-mas-ficha-libro{
    color: #503b31;
    text-decoration: none;
}

.ver-mas-ficha-libro:hover {
    background-color: #503b3133;
}

/* Estilo general para el modal */
.modal-ficha-libro {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 60px;
}

/* Estilo para el contenido del modal */
.modal-content-ficha-libro {
    background-color: #fefefe;
    position: absolute;
    top: 50%; /* Centro vertical del modal */
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    max-height: calc(80vh - 40px);
    overflow-y: auto;
    scrollbar-width: thin; /* Estilo para navegadores como Firefox */
    scrollbar-color: #503b31 #f5f5f5; /* Estilo para la barra de desplazamiento */
    margin-bottom: 50px;
}

/* Estilo para la cruz de cierre */
.modal-close-ficha-libro {
    position: absolute;
    top: 10px; /* Espacio desde el borde superior */
    right: 10px; /* Espacio desde el borde derecho */
    font-size: 34px; /* Tamaño de la fuente para el icono de cierre */
    color: #503b31; /* Color del icono de cierre */
    cursor: pointer;
    text-decoration: none;
}

.modal-close-ficha-libro:hover,
.modal-close-ficha-libro:focus {
    color: #503b31;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo para el contenido de la reseña dentro del modal */
.modal-review-ficha-libro {
    border: 1px solid #503b31;
    margin: 40px 10px 10px 10px;
    padding: 20px 10px 10px 20px;
    border-radius: 15px;
    text-align: left;
    
}

.modal-name-usuario-ficha {
    color: #503b31;
    font-size: 18px;
}

.modal-reseña-ficha-librousu {
    color: #000;
    font-size: 16px;
    margin-top: 10px;
}

.modal-rating-container-ficha-libro {
    margin-top: 10px;
}

.modal-rating {
    display: flex;
    align-items: center;
}

.modal-puntaje-ficha-libro {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* Mostrar el modal cuando se hace clic en el enlace */
#Modal-agregar-libro:target {
    display: block;
}

/* fin modal --- */

/* reseñas */
.review-ficha-libro {
    background-color: #F9F9F9;
    padding: 15px;
    border-radius: 30px;
    margin-bottom: 10px;
    border: 1px solid #503b31;
    max-width: 100%;
    
}

.name-usuario-ficha {
    margin: 5px 0; 
    color: black;
    font-size: 21px;
    margin-top: 15px;
    margin-left: 15px;
    
}

.reseña-ficha-librousu{
    color: black;
    font-size: 21px;
    margin-top: 15px;
    margin-left: 15px;
    white-space: nowrap; /* Evita el salto de línea */
    overflow: hidden; /* Oculta el texto que se desborda */
    text-overflow: ellipsis;
}

.rating-container {
    display: flex; 
    align-items: center; 
    justify-content: flex-end;
    
}

.rating-ficha-libro {
    display: flex; 
    gap: 2px; 
    margin-right: 15px;
}

.puntaje-ficha-libro {
    width: 20px; 
    height: auto; 
}


