@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


main {
    background-color: #fff;
    margin-top: 115px;
    width: 75%;
    max-width: 95%;
    margin-left: 16%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 0.5px solid #22223B;
    padding: 20px; 
    box-sizing: border-box; 
}

.book-container {
    padding: 20px;
    width: 100%; 
    box-sizing: border-box; /
}

.infor-libro {
    display: flex;
    flex-wrap: wrap; 
    margin-bottom: 20px;
    line-height: 1.8; 
    font-size: 23px;
    margin-left: 0; 
}

.book-cover img {
    width: 100%;
    height: auto;
    max-width: 450px;
    border-radius: 20px;
    border: 0.1px solid #503b31;
    margin-right: 20px;
}

.book-details {
    flex: 1; 
    margin-left: 40px;
}

.book-details p {
    margin: 10px 0;
    color: black;
    text-align: justify; 
}

.book-details p strong {
    font-weight: 600; 
    color: #503b31;
    font-size: 25px;
    line-height: 2;
}

.container-sinopsis {
    width: 100%; 
    box-sizing: border-box; 
    margin-top: 20px; 
}

.sinopsis-libro {
    line-height: 1.6; 
    font-size: 22px; 
    color: black; 
}

.parrafo{
    width: 95%;
}

/* selecto biblioteca */
.book-locations {
    margin-bottom: 20px; 
    color: #503b31; 
}

.book-locations p {
    font-size: 25px; 
   margin: -160px 30px 30px 30px;
}

.locations-list {
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
}

.location-item {
    display: flex; 
    align-items: center; 
}

.location-item p {
    margin: 0; 
    margin-right: 10px; 
    font-size: 23px; 
    margin-left: 25px;
    
   
}

.location-item img {
    width: 20px; 
    height: auto; 
}

/* Gustos */
.gustos-container {
    display: flex;
    gap: 40px; 
    margin: 30px 0 30px 1100px; 
    justify-content: center; 
    

}

/* Estilos para los botones */
.gustos button {
    background: none; 
    border: 2px solid #503b31; 
    border-radius: 30px; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 65px; 
    height: 65px; 
    margin-top: 30px;
}

/* Estilos para las imágenes dentro de los botones */
.gustos button img {
    width: 40px; 
    height: 40px; 
    display: block; 
}

/* cuadros de escritura */
.book-reviews {
    display: flex;
    align-items: center; /* Alinea verticalmente el área de texto y el botón */
    justify-content: space-between; /* Alinea el área de texto a la izquierda y el botón a la derecha */
    gap: 10px; /* Espacio entre el área de texto y el botón */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en varias líneas si es necesario */
    margin-bottom: 10px; /* Espacio entre los inputs y las reseñas */
}

.area-text {
    width: calc(100% - 150px); /* Deja espacio suficiente para el botón */
    height: 60px;
    margin: 50px 0; 
    padding: 12px 0 10px 20px; 
    border-radius: 10px;
    border: 2px solid #503b31; 
    flex-grow: 1;
    font-size: 20px;
}

/* boton de enviar */
button {
    padding: 12px 20px; /* Añadido padding a la derecha */
    border: 2px solid #503b31; 
    border-radius: 5px; 
    background-color: #ffffff; 
    font-size: 22px;
    color: #503b31; 
    cursor: pointer; 
    margin: 0; /* Elimina el margen que desalineaba el botón */
    flex-shrink: 0;
}

button:hover {
    background-color: #503b311a;
}

/* reseñas */
.review {
    background-color: #F9F9F9;
    padding: 15px;
    border-radius: 30px;
    margin-bottom: 10px;
    border: 1px solid #503b31;
    max-width: 100%;
    
}

.review p {
    margin: 5px 0; 
    color: black;
    font-size: 21px;
    margin-top: 15px;
    margin-left: 15px;
    white-space: nowrap; /* Evita el salto de línea */
    overflow: hidden; /* Oculta el texto que se desborda */
    text-overflow: ellipsis;
}

.rating-container {
    display: flex; 
    align-items: center; 
    justify-content: flex-end;
    
}

.rating {
    display: flex; 
    gap: 2px; 
    margin-right: 15px;
}

.rating img {
    width: 20px; 
    height: auto; 
}


