@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');


main {
    background-color: #fff;
    margin-top: 115px;
    max-height: 80%;
    width: 81.6%;
    max-width: 95%;
    margin-left: 14.5%; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 0.5px solid #50505e;
}


.title-section-descubrir{
    padding: 30px;
    color: #22223B;
    margin-left: 20px;
    font-family: "Berkshire";
    font-weight: 550;
    font-size: 40px;
    
}

.text-section-descubrir{
    color: #000000;
    margin-left: 60px;
    font-size: 22px;
    font-weight: 500;
    margin-top: -1%;
    margin-left: 80px;
    
}

.book-descubrir {
    display: flex;
    flex-wrap: wrap;
    gap: 70px; /* Espacio de 10px entre los elementos */
    justify-content: center;
    margin-top: 30px;
    margin-left: 0px;
}

.book-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 190px; /* Ancho fijo para todos los contenedores */
    min-height: 350px; /* Altura mínima fija para todos los contenedores */
    margin-top: -30px;
}


/*hay algunos estilos que si applican y que otros no*/
.book-descubriras {
    width: 150px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
    border-radius: 20px; /* Ajusta según el estilo deseado */
    border: 1px solid #22223B;
}


.book-descubriras-uni{
    width: 150px; /* Ajusta el tamaño según tus necesidades */
    height: 228px;
    border-radius: 20px; /* Ajusta según el estilo deseado */
    border: 1px solid #22223B;
}


.title-descubrir {
    color: black;
    margin-top: 30px; /* Espacio entre la imagen y el título */
    font-size: 20px; /* Ajusta el tamaño del texto según tus necesidades */
    width: 100%; /* Ajusta el ancho para que coincida con el contenedor */
    height: 50px; /* Altura fija para asegurar alineación */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Asegura que el texto esté centrado */
}

.rating {
    color: #22223B;
    font-size: 16px; /* Ajusta el tamaño según tus necesidades */
    margin-top: 10px; /* Espacio entre el título y la calificación */
    display: flex;
    justify-content: center;
}

.rating img {
    width: 25px; /* Ajusta el tamaño de las estrellas según tus necesidades */
    height: auto;
    margin: 0 2px; /* Espacio entre las estrellas */
}