body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    min-height: 100vh;
}

main {
    background-color: #fff;
    margin-top: 115px;
    max-height: 70%;
    width: 81.4%;
    max-width: 95%;
    margin-left: 14.5%; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 0.5px solid #50505e;
    position: relative; /* Se establece una posición relativa */
}

.banner img {
    width: 100%;
    max-height: 55vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative; /* Se establece una posición relativa */
    z-index: 1; /* Se establece un índice z menor */
}

.foto-perfil img {
    width: 230px;
    height: 230px;
    margin-left: 100px;
    margin-bottom: 80px;
    position: absolute; /* Se establece una posición absoluta */
    top: 100%; /* Ajusta la posición superior según sea necesario */
    left: 5%; /* Ajusta la posición izquierda según sea necesario */
    transform: translate(-50%, -50%);
    z-index: 2; /* Se establece un índice z mayor */
    border-radius: 120px;
}

.name{
    margin-top: 20px;
    margin-left: 20px;
}
